<div class = account&profile>
  <h2>検索結果：〇〇件</h2>
    <table>
    <% @posts. each do |post| %>
      <tr>
        <th>ルーム名</th>
        <td><%= post.room_name %></td>
      </tr>
      <tr>
        <th>エリア</th>
        <td><%= post.room_address %></td>
      </tr>
      <tr>
        <th>料金</th>
        <td><%= post.room_price %></td>
      </tr>
    <% end %>
    </table>
    <div>