/*top-wrapper*/
.top-wrapper{
  padding: 180px 160px;
  background-image: url("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg");
}

/*lesson-wrapper*/
.area-index-wrapper{
  width: 100%;
  height: auto;
  padding-bottom: 60px;
}
.areas{
  margin: 20px 100px 30px 100px;
}
.area{
  float: left;
}
.area-image{
  position: relative;
}
.area-image img{
  width: 100%;
  height: 360px;
  border-radius: 5px;
  margin: 15px 25px 25px 35px;
  object-fit: cover;

}
.area-image p{
  position: absolute;
  color: white;
  font-size: 15px;
  top: 80%;
  left: 50%;
}